pkgbase = niri-fx-compositor-git
	pkgdesc = Complete NiriFX compositor candidate and a separate managed login entry
	pkgver = 0.21.0.r75.g3b8e03e
	pkgrel = 1
	url = https://github.com/jturbide/niri-fx
	arch = x86_64
	license = GPL-3.0-or-later AND MIT AND 0BSD
	makedepends = rust
	makedepends = clang
	makedepends = git
	depends = niri
	depends = niri-fx-git
	depends = python
	depends = bash
	depends = systemd
	depends = dbus
	depends = cairo
	depends = glib2
	depends = glibc
	depends = libdisplay-info
	depends = libgcc
	depends = libinput
	depends = libpipewire
	depends = libxkbcommon
	depends = mesa
	depends = pango
	depends = pixman
	depends = seatd
	depends = systemd-libs
	depends = wayland
	depends = libglvnd
	optdepends = xdg-desktop-portal-gnome: screen-sharing portal for the Niri session
	optdepends = xdg-desktop-portal-gtk: fallback desktop portal
	optdepends = org.freedesktop.secrets: secret portal provider
	optdepends = xwayland-satellite: run X11 applications
	options = !strip
	options = !debug
	source = niri-fx::git+https://github.com/jturbide/niri-fx.git#branch=main
	source = niri::git+https://github.com/niri-wm/niri.git#commit=8ed0da44d974c32c6877d2f4630c314da0717ecb
	source = niri-fx-packaged.desktop
	source = README.Arch
	source = LICENSE
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 4f5b3d3b995d406866385c9b892557e4b3521645a59f4526ca999e93cabfb977
	sha256sums = 4a17d84a9861d2d6b5d79c62d1305f09baeb7701e28141baa822c45133c69920
	sha256sums = 336feffd8a99323d56058efe2b2deb3480dcf935dbb6813324c95a7e61bbbca3

pkgname = niri-fx-compositor-git
